/* week2project*/
			@font-face:"pet-rubik"{
				src=(font/rubik/rubik\rubik-bold-webfont.ttf);
			}
				div{
			min-height:100px;
			border:0px solid red;
				}
				.header{
					min-height:50px;
					background-color:549f93;
					text-align:right;
					color:black;
					}
				.menue{
					min-height:50px;
					background-color:skyblue;
					display:flex;
					justify-content:space-between;
					text-align:center;
					color:white;
					position:sticky;
					top:0px;
				}
				.QA{
					color:blue;
					justify-content:space between;
					text-align:center;
					background-color:black-ovlive;
					
				}
		 .logo{
					height:100px;
					width:100px;
					border-radius:50%;
					}
				ul li{
					display:inline-block;
					}
				ul li a{
					text-decoration:none;
					color:white;
					margin:30px;
					font-family:"pet-rubik";
					}
				.background{
						background-image:url(images/sky.jpg);
						min-height:1000px;
						background-image:fixed;
						background-position:bottom;
						background-repeat:no-repeat;
						background-size:cover;
						background-attachment: fixed;
					}
				.footer{
					min-height:300px;
					background-color:rgb(103,105,133);
					padding:15px;
				}
				p{
					font-size:20;
					text-decoration:bold;
					color:yellow;
					text-align:center;
					}
					.image img{
						padding:left;
						
					}
					h1{
						
						font-size:20;
						text-align:center;
						font-family:"pet-rubik";
						color:white;
						}

					}
						h2{
						font-size:18;
						text-align:center;
						font-family:"pet-rubik";
						color:white;
						
					}
					.wave{
						height:300px;
						}
				.overlay{
				height:1000px;
				background-color:rgba(103,105,133,0.5);;
				margin:around;
				}
			.part{
				background-color:skyblue;
				
			}				